.back1 {
  width: 100%;
  position: relative;
  height: 793px;
  background-image: url(./public/back11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
