.doloremque-itaque-aperiam,
.mollitia-laborum-quam,
.sunt-repellat-dolore {
  margin: 0;
}
.doloremque-itaque-aperiam-container {
  width: 9614px;
  position: relative;
  font-size: var(--font-size-231xl);
  font-family: var(--font-inika);
  color: var(--color-snow-300);
  text-align: left;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
